<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">number-parent works : @ViewChild using Component</div>
    <div class="panel-body">
      <button class="btn btn-success" type="button" (click)="increase()">Increase</button>
      <button class="btn btn-danger" type="button" (click)="decrease()">Decrease</button>
      <br/>
      <app-number></app-number>
    </div>
  </div>
</div>



<!--
<h3>@ViewChild using Component</h3>
Number Example:
<button type="button" (click)="increase()">Increase</button>
<button type="button" (click)="decrease()">Decrease</button>
<br/><br/>
<app-number></app-number> -->
