<div class="container spacer">
  <button routerLink="/about" class="btn btn-primary">About</button>
  <button routerLink="/contacts" class="btn btn-primary">Contacts</button>
  <button routerLink="/new-contact" class="btn btn-primary">Nouveau contact</button>
  <button routerLink="/number" class="btn btn-primary">Number</button>
  <button routerLink="/cpcolor" class="btn btn-primary">CpColor</button>
  <button routerLink="/cptheme" class="btn btn-primary">CpTheme</button>
  <nav [ngClass] = "'parent-menu'">
    <ul>
      <li><a routerLink="/book" routerLinkActive="active">Book</a></li>
      <li><a [routerLink]="[{ outlets: { bookPopup: ['add-book'] } }]" routerLinkActive="active">Add Book</a></li>
      <li><a [routerLink]="[{ outlets: { bookList: ['book-detail'] } }]" routerLinkActive="active">Book Details</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<router-outlet name="bookList"></router-outlet>
<router-outlet name="bookPopup"></router-outlet>
